
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;/* para poder alinear section y aside a cada lado */
}

body{
    margin:0;
}

.titulo {
    /*modificando la clase titulo */
    padding: 70px;
    text-align: center;
    background: #d37af7;
    color: white;
}

.titulo h1{
    font-size: 30px;
}

.nav a{
    font-size: 24px;
    padding: 14px 16px;
    color:white;
    text-align: center;
    display: block;
    float:left;
    text-decoration: none; /* para que no salga el subrayado de enlace */
}


.nav a:hover{
    color:black;
    background-color: lightgrey;
}

.nav{
    background-color: #333;
    overflow: hidden;
}

.nav .usuario{
    float:right;
}

#logo{
    width: 5%;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 75px;
    height: 75px;
    /* con respecto al padre */
}

.centro{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

aside{
    background-color:grey;
    -ms-flex: 30%;
    flex: 30%;
    padding: 15px;
}

section{
    background-color:white;
    -ms-flex: 70%;
    flex: 70%;
    padding: 15px;
}

section table{
    margin-left: 15%;
    margin-top: 3%;
    width: 80%;
    color:rgb(0, 0, 0);
}


footer{
    padding: 2%;
    background-color:lightgrey;
    text-align: center;
}

.slide, .tienda{
    font-style: italic;
}

.enlaces a{
    text-decoration:underline;
    color:black;
    
}

section #tabla_contenidos tr td a{
    text-decoration: overline;
    color:black;
}

#tabla_contenidos td{
    padding: 10px;
}

.titulo_tabla{
    font-size: 20px;
    
}

.img-responsive{
    width: 30%;
    height: 30%;
}

#boton{
    border-radius: 28px;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    float: left;
}

@media screen and (max-width: 700px){
    .centro{
        flex-direction: column;
    }
}
    
@media screen and (max-width: 400px){
    .nav a{
        float:none;
        width: 100%;
    }
    #tabla_contenidos .img-responsive{
        display : none;
    }
    /* hago que desaparezcan las fotos pero mantenga el enlace y el puesto de la misma con dispositivos muy pequeños, ya que serian casi invisibles*/

    #tabla_contenidos {
        margin-left: 0%;
    }

}

