{%extends "index.html"%}

{% block estilo %}<link rel="stylesheet" type="text/css" href="estilo/login.css" />{% endblock %}

{% block javascript %}<script type="text/javascript" src="/Javascript/JavaScriptUsuarios.js"></script>{% endblock %}


{% block titulo %} Login {%endblock%}

{% block nav %}
<div class="nav">
    <a href="#"> </a>
</div>
{% endblock %}


{% block aside %}
{% endblock %}

{% block cuerpo %}
    <form action="login.php" method="POST" class="form">

        <div class="container">
            Email:<input id="email" type="text" name="email"><br>
            Contraseña:<input id="pass" type="password" type="text" name="pass"><br>
            <input type="checkbox" onclick="mostrarContraseña()">Mostrar contraseña

            <input type="submit" value = "Login">
<!-- meter redirecciones y mensajes de error -->
        </div>

    </form>
{% endblock %}
