{%extends "index.html"%}

{% block estilo %}<link rel="stylesheet" type="text/css" href="estilo/perfil.css" />{% endblock %}
{% block javascript %}<script type="text/javascript" src="/Javascript/JavaScriptUsuarios.js"></script>{% endblock %}


{% block titulo %} Perfil {%endblock%}

{% block nav %}
<div class="nav">
    <a href="#"> </a>
</div>
{% endblock %}


{% block aside %}
<aside>
<form action="perfil.php" method="POST" class="form" enctype="multipart/form-data">

    <div class="container">
        Nick:<input id="nick" type="text" name="nick" placeholder={{ usuario['nick'] }}><br>
        Apellido:<input id="apellido" type="text" name="apellido" placeholder={{ usuario['apellido'] }}><br>
        Contraseña:<input id="pass" type="password" name="pass" placeholder="contraseña antigua"><br>
        Nueva contraseña:<input id="pass2" type="password" name="pass2" placeholder="confirmar contraseña"><br>
        <input type="checkbox" onclick="mostrarContraseña()">Mostrar contraseña<br>

        Email:<input id="email" type="text" name="email" placeholder={{ usuario['email'] }}><br>

        Avatar: <input type="file" id="avatar" name="imagen" /><br>

        <input type="submit" value = "Actualizar datos">

    </div>

</form>
</aside>
{% endblock %}



{% block cuerpo %}
    <div class = "perfil">


        <h2 style="text-align:center">Tu perfil</h2>

        <div class="card">
          <img src="{{ usuario['avatar'] }}" alt="John" style="width:100%">
          <h1> {{ usuario['nick'] }} {{ usuario['apellido'] }}</h1>
          <p class="title">{{ usuario['email'] }}</p>

        </div>


    </div>
{% endblock %}
